:root
{
  --bg-color: #222629;
  --secondary-color: #86C232;
}


body
{
  background-color: var(--bg-color);
  font-family: 'Apercu', Arial;

  height: 3000px;
  padding-top: 200px;
  padding-left: 10%;
  padding-right: 10%;

  color: var(--secondary-color);

}

@font-face {
  font-family: 'Apercu';
  src: url('Assets/Apercu_font.otf') format("opentype");
}