.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0% 8% 0% 8%;

  font-weight: 50px;

  color: #86C232;

  height: 90px;

  z-index: 50;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.header div
{
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px;

  transition: all 0.3s;
}

.header-div:hover
{
  transform: translateY(-5px);
  color: rgb(255, 255, 255);

}

.header-div
{
  margin-right: 3%;
}

#linkedin-icon-container
{
  margin-right: 40%;
}

#about-me-container
{
  white-space: nowrap;
}