#hobbies-flexbox
{
  height: 700px;
  width: 100%;

  border: 3px solid green;

  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.card-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.hobbie-image-container {
  position: relative;
  width: 400px;
  border: 1px solid;
}

.hobbie-image {
  width: 100%;
  display: block;
  margin: auto auto;
  min-height: 300px;
}

.overlay-title, .overlay-description 
{
  position: absolute;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  text-align: center;
  line-height: 100%;
  opacity: 0;
  cursor: default;
  color: #eee;
  transition: all;
  transition-duration: 0.2s
}
.overlay-title 
{
  top: 0;
  font-size: 2.3em;
}
.overlay-description 
{
  bottom: 0;
}

.hobbie-image-container:hover .overlay-title,
.hobbie-image-container:hover .overlay-description 
{
  opacity: 1;
}