#home-content
{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 700px;
  width: 100%;

  border: 0;
}

#home-text-container
{
  margin-left: 15%;
  margin-right: 10%;
  width: 60%;
}

#home-blob-image-container
{
  height: 300px;
  width: 600px;
  background-color: var(--secondary-color);

  border-radius: 49% 54% 31% 68% / 70% 18% 81% 31% ;

  margin-right: 20%;
}

#home-primary-text
{
  font-size: 50px;
  margin-bottom: 35px;
  font-weight: 600;
}

#home-secondary-text
{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}

#home-terciary-text
{
  font-size: 16px;
}
